body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    padding: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.inline {
    display: inline-block;
}

.logo {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.logo img {
    width: 150px;
    height: 50px;
}
.delivery_time {
    width: 65px;
    height: 40px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    /* padding: 0.5%; */
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    text-align: center;
    margin-right: 1%;
}

.note {
    color:#626262;
}

.address {
    position: relative;
    width: 292px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 3%;
}

.address input {
    border: none;
    margin-left: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 72px;
}

.address img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: absolute;
    width: 20px;
    height: 25px;
}

.sign_in {
    width: 80px;
    height: 40px;
    background-color: transparent;
    padding: 0.5%;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    font-weight: 500;
    margin-right: 1%;
    cursor: pointer;
}

.register {
    width: 80px;
    height: 40px;
    background-color: black;
    padding: 0.5%;
    border: 1px solid black;
    border-radius: 2px;
    color:white;
    font-weight: 500;
    cursor: pointer;
}

.shopping_bag {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
}

.shopping_bag img {
    width: 24px;
    height: 24px;
    margin-right: 10%;
    fill: currentColor;
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 17px;
    margin-left: 85px;
    margin-right: 85px;
    border-bottom: 1px solid lightgray;
}

.search_bar input {
    border: none;
    width: 90%;
}

.search_bar img {
    height: 22px;
    width: 22px;
    padding-right: 8px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 85px;
    margin-right: 85px;
}

.tile {
    margin-right: 30px;
    margin-bottom: 16px;
}

.tile img {
    width: auto;
    height: auto;
}

@media (max-width: 600px) {
    .delivery_time {
        display: none;
    }

    .note {
        display: none;
    }

    .address {
        display: none;
    }

    .shopping_bag {
      display: none;
    }

    .search_bar {
        margin-left: 1%;
        margin-right: 1%;
    }

    .up_button {
        height: 64px;
        width: 64px;
    }
  }

  @media (max-width: 900px) {
    #text1 {
        display: none;
    }
    }
  @media (max-width: 1300px) {
    #text2 {
        display: none;
    }
    }

.footer {
background: #262626;
padding-left: 85px;
padding-right: 85px;
}

.logo2 {
    padding-top: 56px;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF;
}

.logo2 img {
    width: 150px;
    height: 50px;
}

.footer_main {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF;
}

.block {
    margin-right: 10%;
    margin-top: 3%;
}

.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B3B3B;
    color: white;
    padding: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.dropbtn img {
    height: 20px;
    width: 20px;
    fill: white;
    padding-left: 10px;
    padding-right: 10px;
  }

.logos {
display: inline-block;
height: 20px;
width: 20px;
padding: 10px;
margin-top: 20px;
}

.stores {
display: flex;
justify-content: center;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-bottom: 1px solid #FFFFFF;
}
.stores img {
width: 120px;
height: 40px;
padding-left: 20px;
padding-right: 20px;
}

.up_button {
    height: 80px;
    width: 80px;
    background: #59BD5A;
    border: none;
    color: white;
    font-size: 32px;
    position: fixed;
    right: 2%;
    bottom: 2%
}